# Database Connection (SQLite local file)
DATABASE_URL="file:./dev.db"

# Client Session Cryptographic Key (For secure cookie session token signing)
# Generate a random 32-character string in production
COOKIE_SESSION_SECRET="your-32-character-cookie-session-secret-key"

# Google Maps / Places API Key (Required for client-side Places Autocomplete search)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="your-google-maps-api-key"

# Administrative Deletion Passcode Gate
ADMIN_PASSCODE="your-admin-passcode-gate-key"

# Ackee
NEXT_PUBLIC_ACKEE_SERVER="https://your.ackee.server.com/""
NEXT_PUBLIC_ACKEE_DOMAIN_ID="your_ackee_id"